{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Send Phishing Email</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'main/assets/img/favicon.png'%}" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'main/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">
  
  <style>
    .botao_logout{
     background-color: #003399;
     color: #fff;
     padding: 14px 20px;
     margin-top: 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
   }
 </style>

  <!-- Template Main CSS File -->
  <link href="{%static 'main/assets/css/style.css'%}" rel="stylesheet">

  
</head>



<body>
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" href="#">
        <i class="bi bi-file-earmark-break"></i>
        <span>Histórico</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" href="/relatoriocsv">
        <i class="bi bi-journal-text"></i>
        <span>Relatório</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" href="/gerenciador-setores">
        <i class="bi bi-person-vcard"></i>
        <span>Setores</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="#">
        <i class="bi bi-menu-button-wide"></i><span>Phishing</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/phising">
            <i class="bi bi-circle"></i><span>Enviar Phishing</span>
          </a>
        </li>
        </ul>

        <form action="" method="post" >
          {% csrf_token %}
          <button  class="botao_logout" type="submit" style="margin-top: 270%;bottom: 10px;left: 10px;text-align: left;" >Logout</button>
      </form> 
    </li><!-- End Components Nav -->

      
</aside><!-- End Sidebar-->
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    
  
    
    <a href="/" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <span class="d-none d-lg-block">Secur.IT</span>
    </a>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
          
        </li><!-- End Search Icon-->
<main id="main" class="main">
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

      <div class="pagetitle">
      <h1>Enviar Phishing</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Enviar Phishing</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
          <div class="container">
            <div class="col justify-content-center">
              <div class="col-md-12">
                <form method="post">
                  {% csrf_token %}
                  <!-- <div class="mb-3"> -->
                    <label for="Nome" class="form-label">Nome da campanha</label>
                    <input type="text" class="form-control" id="nome_campanha" name="nome_campanha" placeholder="Nome da campanha">
                    <label for="emails" class="form-label">Emails</label>
                    <input type="email" class="form-control" id="emails" name="emails" placeholder="Enter emails">
                  </div>
                  <div class="mb-3">
                    <label for="setores" class="form-label">Setores <a href="/addsetor">+</a></label>
                    <select class="form-select" id="setores" name="setores" multiple>
                      {%for setor in setores%}
                      <option value="{{setor.setor}}">{{setor.setor}}</option>
                      {%endfor%}
                      <option value="aleatorio">aleatório</option>
                    </select>
                    
                    <label for="templates" class="form-label">Template <a href='/template_create'>+</a></label>
                    <select class="form-select" id="setores" name="templates" multiple>
                      {%for item in Templates %}
                      <option value="{{item.nome}}">{{item.nome}}</option>
                      {%endfor%}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="data-hora" class="form-label">Agendar Envio</label>
                    <input type="datetime-local" class="form-control" id="data-hora" name="data-hora">
                  <!-- </div> -->
                  <div class="botao">
                  <button type="submit" class="btn btn-primary" name="enviar">Enviar</button>
                </div>
                </form>
            
              </div>
            </div>
          </div>
          
          <style>
            .container{
              margin-top: 500px;
              margin-right: 650px;
              width: 500px;
              align-content: center;
              margin-left: -250px;
            }

            .botao{
              margin-top: 20px;
            }
          </style>











        </header>
  <!-- Vendor JS Files -->
  <script src="{%static 'main/assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{%static 'main/assets/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/quill/quill.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{%static 'main/assets/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'main/assets/js/main.js'%}"></script>

</body>

</html>