{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Template Create</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'main/assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'main/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'main/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'main/assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">

 
  <link href="{%static 'main/assets/css/style.css'%}" rel="stylesheet">
  <style>
     .botao{
			background-color: #003399;
			color: #fff;
			padding: 14px 20px;
			margin-top: 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
		}
  </style>

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <a href="/" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <span class="d-none d-lg-block">Secur.IT</span>
    </a>
  </header>
  
  <!-- ======= Body Content ======= -->
  <aside id="sidebar" class="sidebar">
  
    <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" href="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" href="#">
            <i class="bi bi-file-earmark-break"></i>
            <span>Histórico</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" href="/relatoriocsv">
            <i class="bi bi-journal-text"></i>
            <span>Relatório</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " href="/gerenciador-setores">
            <i class="bi bi-person-vcard"></i>
            <span>Setores</span>
          </a>
        </li>
        

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Phishing</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/phising">
              <i class="bi bi-circle"></i><span>Enviar Phishing</span>
            </a>
          </li>
        </ul>
        
        <form action="{% url 'logout_view' %}" method="post" >
          {% csrf_token %}
          <button  class="botao" type="submit" style="margin-top: 270%;bottom: 10px;left: 10px;text-align: left;" >Logout</button>
      </form>
      </li><!-- End Components Nav -->

      
  </aside>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Adicionar Template</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Templates</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="container">
        <div class="card">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="setorName">Nome do Template</label>
                    <input type="text" class="form-control" id="setorName" name="setorName">
                </div>
                <div class="form-group">
                    <label for="csvFile">Enviar arquivo CSV</label>
                    <input type="file" class="form-control" id="csvFile" name="csvFile" accept=".html">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    
  
  <!-- rest of your body content -->
  
  
  <!-- Vendor JS Files -->
  <script src="{%static 'main/assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{%static 'main/assets/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/quill/quill.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{%static 'main/assets/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{%static 'main/assets/vendor/php-email-form/validate.js'%}"></script>

</body>

</html>